<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="fr.umontpellier.etu.inteco">

    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <uses-feature android:name="android.hardware.telephony" android:required="false" />
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Inteco"
        tools:targetApi="31">
        <activity
            android:name=".Enterprise.fragements.candidateForAJob.CandidateProfilActivity"
            android:exported="false" />
        <activity
            android:name=".Seeker.fragements.myApplications.MyApplications"
            android:exported="false" />
        <activity
            android:name=".Seeker.JobDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".Enterprise.HomePageEnterprise"
            android:exported="true"
            android:theme="@style/Theme.Inteco" />
        <activity
            android:name=".Seeker.Search.SearchActivity"
            android:exported="false" />
        <activity
            android:name=".Seeker.TestAddDocumentActivity"
            android:exported="true" />
        <activity
            android:name=".Seeker.HomePageSeeker"
            android:exported="false"
            android:theme="@style/Theme.Inteco" />
        <activity
            android:name=".Authentication.Enterprise.SignUpEnterprise2"
            android:exported="false"
            android:theme="@style/Theme.Inteco" />
        <activity
            android:name=".Authentication.Enterprise.SignUpEnterprise1"
            android:exported="false"
            android:theme="@style/Theme.Inteco" />
        <activity
            android:name=".Authentication.Seeker.SignUpSeeker3"
            android:exported="false"
            android:theme="@style/Theme.Inteco" />
        <activity
            android:name=".Authentication.Seeker.SignUpSeeker2"
            android:exported="false"
            android:theme="@style/Theme.Inteco" />
        <activity
            android:name=".Authentication.Seeker.SignUpSeeker1"
            android:exported="false"
            android:theme="@style/Theme.Inteco" />
        <activity
            android:name=".Authentication.Enterprise.SignUpEnterprise"
            android:exported="false"
            android:theme="@style/Theme.Inteco" />
        <activity
            android:name=".Authentication.NewPassword"
            android:exported="false"
            android:theme="@style/Theme.Inteco" />
        <activity
            android:name=".Authentication.Seeker.SignUpSeeker"
            android:exported="false"
            android:theme="@style/Theme.Inteco" />
        <activity
            android:name=".Authentication.ResetPassword"
            android:exported="false"
            android:theme="@style/Theme.Inteco" />
        <activity
            android:name=".shareLocation"
            android:exported="false"
            android:theme="@style/Theme.Inteco" />
        <activity
            android:name=".Authentication.LoginFirstActivity"
            android:exported="false"
            android:theme="@style/Theme.Inteco" />
        <activity
            android:name=".FirstScreen"
            android:exported="true"
            android:theme="@style/Theme.App.Starting">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>